body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    gap:20px;
}
.buttons{
    display: flex;
    gap: 10px;
}
#container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
    color: blue;
}